:root {
	--margin-between-element: 20px;
}

.timestamp {
	font-family: 'Varela Round', sans-serif;
	margin-top: var(--margin-between-element);
	width: 100%;
	text-align: right;
	color: rgb(186,145,37);
}

.timestamp p {
	margin: 0;
}

.timestamp .time {
	color: #000;
}