nav {
	padding: 20px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-family: "Arciform", sans-serif;
}

@media only screen and (max-width: 768px) {
	.navbar-collapse {
		/* Make sure this is the same as navbar padding */
		margin-top: 10px;
		border-width: 2px;
		/*border-style: dashed;*/
		border-color: #ddd;
		padding: 15px;
	}
	.nav-link {
		padding: 0px !important;
	}
} 

/* Show border on small screens */
@media only screen and (max-width: 500px) {
	nav {
		border-width: 2px !important;
		border-style: solid;
		border-color: rgba(0,0,0,0.1);
	}
}

.navbar-logo {
	margin-right: 15px;
}

.navbar-brand {
	font-size: 1.6rem;
}

.nav-item, nav button {
	font-size: 1.3rem !important;
	text-align: center;
}

.navbar-toggler {
	border: 0;
}

.collapse-icon {
	stroke: #bbb;
}

.dropdown-menu {
	border: 0;
	background-color: #000;
	overflow: hidden;
	width: max-content;
}

.dropdown-menu * {
	color: #fff !important;
}

.dropdown-menu *:hover {
	background-color: #333 !important;
}

.dropdown-divider {
	border-color: rgba(255,255,255,0.2);
	border-width: 2px;
}