nav {
	width: 100vw;
	position: fixed !important;
	top: 0;
	padding: 20px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-family: "Arciform", sans-serif;
	background-color: var(--color-secondary);
	z-index: 50; /* Make sure the navbar always stay on top */
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-bottom-width: 1px;
	border-style: solid;
	border-color: var(--color-fourth); 
}

/* 768 is the collapse point of the medium sized navbar */
@media only screen and (max-width: 768px) {
	.navbar-nav form {
		display: none;
	}
} 

.navbar-logo {
	margin-right: 15px;
}

.navbar-logo * {
	stroke: var(--color-ninth);
	fill: var(--color-ninth);
}

/* Search form */

.navbar-nav form {
	max-height: 100%;
	margin: 0 !important;
}

.navbar-nav form input {
	font-family: sans-serif;
	height: max-content;
	border-radius: 200px;
	background-color: var(--color-third);
	border: 0;
	padding: 10px;
}

.navbar-nav form input:focus {
	background-color: var(--color-fourth);
}

.navbar-nav form input::placeholder {
	color: var(--color-fifth);
}

.navbar-nav form input:focus::placeholder {
	color: var(--color-sixth);
}

.navbar-nav form button {
	padding-left: 6px;
}

.navbar-nav form button img {
	border-radius: 200px;
	padding: 10px;
	/* Invert color instead of setting another color */
	background-color: #eee;
	filter: var(--nav-icon-filter);
}

.navbar-nav form button img:hover {
	filter: var(--nav-icon-filter-reverse);
}

/* ----------- */

.nav-item, nav button {
	font-size: 1.3rem !important;
	text-align: center; 
}

.navbar-toggler {
	border: 0;
}

.nav-link {
	padding: 0;
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.nav-link img {
	height: 100%;
	padding: 10px;
	border-radius: 100%;
	/* Invert color instead of setting another color */
	background-color: #eee;
	filter: var(--nav-icon-filter);
}

.nav-link img:hover {
	filter: var(--nav-icon-filter-reverse);
}

.dropdown-menu {
	width: max-content;
	border: 0;
	border-radius: 10px;
	background-color: #fff;
	left: -100px !important;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}

.dropdown-menu * {
	font-family: "Lato", sans-serif;
	width: calc(100% - 20px);
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	color: #000 !important;
}

.dropdown-menu *:hover {
	background-color: #eee !important;
}

.dropdown-divider {
	padding: 0;
	border-color: rgba(0,0,0,0.2);
	border-width: 2px;
	border-radius: 0;
}