nav {
	padding: 20px !important;
	font-family: "Arciform", sans-serif;
	border-bottom-style: solid;
	border-color: rgb(225,175,30);
	background-color: rgb(255,205,60);

	/* Bottom border */
	border-bottom-width: 2px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1);
}

@media only screen and (max-width: 576px) {
	.navbar-collapse {
		border-radius: 20px;
		border-width: 2px;
		border-style: dashed;
		border-color: rgb(224,174,46);
		padding: 15px;
	}
	.nav-link {
		padding: 0px !important;
	}
} 

.navbar-brand {
	font-size: 1.6rem;
}

.nav-item {
	font-size: 1.3rem;
}

.navbar-toggler {
	border: 0;
}

.collapse-icon {
	stroke: rgb(155,105,0);
}

.dropdown-menu {
	border: 0;
	border-radius: 20px;
	background-color: #000;
	overflow: hidden;
}

.dropdown-menu * {
	color: #fff !important;
}

.dropdown-menu *:hover {
	background-color: #333 !important;
}

.dropdown-divider {
	border-color: #444;
}