{% extends 'chat/base.html' %}
{% load static %}

{% block nav_custom %}
    <li class="nav-item">
        <a class="nav-link has-label" id="show-chat-group-list" href="javascript:fade('.chat-group-list');">
            <span class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
            </span>
            <p class="element-label">Chat Groups</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link has-label" href="{% url 'idea:explore_page' week_num=date.week page_num=1 %}">
            <span class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon></svg>
            </span>
            <p class="element-label">Explore</p>
        </a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link has-label" href="{% url 'usermgmt:account_dashboard_page' username=user.username content_filter='my' page_num=1 %}">
                <span class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                </span>
                <p class="element-label">Dashboard</p>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Main js -->
    <script type="text/javascript" src="{% static 'chat/app_page/main.js' %}"></script>

    <!-- Resize js -->
    <script type="text/javascript" src="{% static 'chat/app_page/resize.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'chat/app_page/main.css' %}">

    <div class="chat-group-list">
        <div class="close-window-wrapper">
            <button class="btn close-window" onclick="javascript:fade('.chat-group-list');">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </button>
        </div>
    </div>

    <div class="app-container">
        <div id="chat-log-container">
            {% for message in recent_messages.all %}
                <div class="chat-message-wrapper">
                    <div class="chat-message chat-message-{% if message.user == user %}self{% else %}other{% endif %}">{{ message }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="chat-message-input-container">
            <input id="chat-message-input" type="text" placeholder="Type here..." maxlength="1000">
            <button class="btn" id="chat-message-submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
            </button>
        </div>

        {{ chat_group_slug|json_script:"chat_group_slug" }}
        {{ user.username|json_script:"username" }}

        <script type="text/javascript" src="{% static 'chat/app_page/websocket.js' %}"></script>
    </div>
{% endblock %}