{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Reset CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'component/base/reset.css' %}">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!-- favicon image -->
        <link rel="icon" href="{% static 'component/base/logo.png' %}">

		<!-- Fonts -->
		<!-- Varela Round -->
		<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
		
		<style>
			@font-face {
			  font-family: Arciform;
			  src: url({% static 'component/font/Arciform.ttf' %});
			}
		</style>

		<!-- Loading screen -->
		<style>
			@keyframes rotate-center {
				from {
					transform: translate(-50%,-50%) rotate(0deg);
				}
				to {
					transform: translate(-50%,-50%) rotate(360deg);
				}
			}
			#loader-bg {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				z-index: 100;
			}
			#loader {
				position: fixed;
				width: 10%;
				min-width: 100px;
				top: 50%;
				left: 50%;
				animation-name: rotate-center;
				animation-duration: 1.5s;
				animation-fill-mode: forwards;
				animation-iteration-count: infinite;
				z-index: 101;
			}
		</style>
		<script>
			document.onreadystatechange = function() { 
		    if (document.readyState !== "complete") { 
		        document.querySelector("body").style.visibility = "hidden"; 
		        document.querySelector("#loader").style.visibility = "visible"; 
		        document.querySelector("#loader-bg").style.visibility = "visible"; 
		    } else { 
		        document.querySelector("#loader").style.display = "none"; 
		        document.querySelector("#loader-bg").style.display = "none"; 
		        document.querySelector("body").style.visibility = "visible"; 
		    } 
		}; 
		</script>
		<!-- ------------ -->

		{% block title %}
		{% endblock %}
	</head>
	<body>
		<!-- Loading screen image and background -->
		<div id="loader-bg"></div>
		<img src="{% static 'component/base/logo.svg' %}" id="loader">

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<!-- Base js -->
		<script type="text/javascript" src="{% static 'component/base/main.js' %}"></script>

		<!-- Create auto task queue -->
		<script type="text/javascript">
			auto_run = new AutoRun();
			window.onload = function() {
				auto_run.execute();
			}
		</script>

		<!-- Cross page css-->
		<link rel="stylesheet" type="text/css" href="{% static 'component/base/main.css' %}">

		<!-- Center body js -->
		<script type="text/javascript" src="{% static 'component/base/resize.js' %}"></script>

		{% block before %}
			<!-- Put things here if u want to display it before all other elements -->
		{% endblock %}

		<!-- Navbar -->
		<link rel="stylesheet" type="text/css" href="{% static 'component/navbar/main.css' %}">

		<nav class="navbar navbar-expand-sm navbar-light">
			<a class="navbar-brand" href="{% url 'home_page' %}"><img class="navbar-logo" src="{% static 'component/base/logo_black.svg' %}" width=50 height=50><b>The Impossible</b></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<svg class="collapse-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-right"><line x1="21" y1="10" x2="7" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></svg>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto"></ul>
		    	<ul class="navbar-nav navbar-right">
		    		{% block nav_custom %}
		    			<li class="nav-item">
			        		<a class="nav-link" href="{% url 'idea_explore_page' week_num=date.week page_num=1 %}">Explore</a>
			      		</li>
			      		{% if user.is_authenticated %}
				      		<li class="nav-item">
				        		<a class="nav-link" href="{% url 'account_dashboard_page' username=user.username content_filter='my' page_num=1 %}">Dashboard</a>
				      		</li>
				      	{% endif %}
		    		{% endblock %}
		    		{% if user.is_authenticated %}
		    			<li class="nav-item">
			        		<a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
			      		</li>
		    		{% else %}
			      		<li class="nav-item">
			        		<a class="nav-link" href="{% url 'signup_page' %}">Sign up</a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="{% url 'login_page' %}">Login</a>
			      		</li>
			      	{% endif %}
			    </ul>
			</div>
		</nav>

		{% block content %}
		{% endblock %}

		{% include 'footer.html' %}

		<script type="text/javascript" src="{% static 'component/base/no_resubmission.js' %}"></script>
	</body>
</html>