{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Reset CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'component/base/reset.css' %}">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!-- favicon image -->
        <link rel="icon" href="{% static 'component/base/logo.png' %}">

		<!-- Fonts -->
		<!-- Varela Round -->
		<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

		<!-- Arciform Sans --> 
		<!-- <link href="{% static 'component/font/Arciform.ttf' %}" rel="stylesheet" type="application/font"> -->
		
		<style>
			@font-face {
			  font-family: Arciform;
			  src: url({% static 'component/font/Arciform.ttf' %});
			}
		</style>

		{% block title %}
		{% endblock %}
	</head>
	<body>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<!-- Base js -->
		<script type="text/javascript" src="{% static 'component/base/main.js' %}"></script>

		<!-- Create auto task queue -->
		<script type="text/javascript">
			auto_run = new AutoRun();
			window.onload = function() {
				auto_run.execute();
			}
		</script>

		<!-- Cross page css-->
		<link rel="stylesheet" type="text/css" href="{% static 'component/base/main.css' %}">

		<!-- Navbar css -->
		<link rel="stylesheet" type="text/css" href="{% static 'component/navbar/main.css' %}">

		<!-- Navbar absolute position js -->
		<script type="text/javascript" src="{% static 'component/navbar/absolute_position.js' %}"></script>

		<!-- Navbar expand js -->
		<script type="text/javascript" src="{% static 'component/navbar/expand.js' %}"></script>

		<div id="mask">
		</div>

		{% block before %}
			<!-- Put things here if u want to display it before all other elements -->
		{% endblock %}

		<!-- Navbar -->
		<nav class="navbar navbar-expand-sm navbar-light">
			<a class="navbar-brand" href="{% url 'home_page' %}">
	      		<img src="{% static 'component/base/logo.svg' %}" width="50" height="50" alt="logo">
	      		<span>The Impossible</span>
	      	</a>
		  	<button class="navbar-toggler" type="button" onclick="navbar_expand();" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<img class="expand-icon" src="{% static 'component/feather_svg/align-justify.svg' %}">
		  	</button>
			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  		<!-- Don't delete this or navbar right won't float right -->
			  		<ul class="navbar-nav mr-auto"></ul>
		  			<ul class="navbar-nav navbar-right" id="navbar-append-origin1">
			    		<li class="nav-item">
			        		<button class="dropdown-item hide-svg" onclick="window.location.href='{% url 'idea_explore_page' week_num=date.week page_num=1  %}'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg><span>Explore</span></button>
			     		</li>
			    		{% if user.is_authenticated %}
			    			<li class="nav-item nav-auth">
				        		<button class="dropdown-item" onclick="window.location.href='#'">Account</button>
				     		</li>
				    		<li class="nav-item nav-auth">
				        		<button class="dropdown-item" onclick="window.location.href='{% url 'logout_view' %}'">Logout</button>
				     		</li>
			     		{% else %}
			     			<li class="nav-item nav-auth">
				        		<button class="dropdown-item" onclick="window.location.href='{% url 'login_page' %}'">Login</button>
				     		</li>
				    		<li class="nav-item nav-auth">
				        		<button class="dropdown-item" onclick="window.location.href='{% url 'signup_page' %}'">Sign Up</button>
				     		</li>
			     		{% endif %}
			     		<!-- Only show these link in small viewport devices -->
			     		<li class="nav-item nav-hidden">
			        		<button class="dropdown-item" onclick="window.location.href='#'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg><span>Projects</span></button>
			     		</li>
			     		<li class="nav-item nav-hidden">
			        		<button class="dropdown-item" onclick="window.location.href='#'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg><span>Like Minded</span></button>
			     		</li>
			     		<li class="nav-item nav-hidden">
				        		<button class="dropdown-item" onclick="window.location.href='#'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg><span>About Us</span></button>
			     		</li>
			    		<li class="nav-item nav-hidden">
			        		<button class="dropdown-item" onclick="window.location.href='https://www.instagram.com/micha31r/'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg><span>Contact</span></button>
			     		</li>
			    	</ul>
		  			<div class="navbar-overflow-container">
		  				<div class="navbar-wrapper">
		  					<table>
		  						<tr>
		  							<td>
					  					<h1 class="second-navbar-brand">The Impossible</h1>
					  				</td>
					  				<td class="backarrow-td">
					  					<button class="navbar-toggler" type="button" onclick="navbar_contract();" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(180,180,180)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
		  								</button>
					  				</td>
					  			</tr>
					  		</table>
					  		<ul class="navbar-nav navbar-right" id="navbar-append-target1">
					  		</ul>
					  		<ul id="navbar-append-target2">
			    			</ul>
			    		</div>
			  		</div>
				</div>
			</nav>
		</nav>

		{% block content %}
		{% endblock %}

		<script type="text/javascript" src="{% static 'component/base/no_resubmission.js' %}"></script>

		{% include 'footer.html' %}
	</body>
</html>