{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>The Impossible</title>
{% endblock %}

{% block before %}
	<script type="text/javascript" src="{% static 'home_page/resize.js' %}"></script>
	
	<div id="navbar-notification">
		<p>We are here to boost your creativity during COVID-19. Stay safe and be inspired!</p>
		<button class="btn" id="navbar-notification-close" onclick="$('#navbar-notification').css('display','none');">
			<svg id="navbar-notification-close-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
		</button>
	</div>
{% endblock %}

{% block navbar_logo %}
	<img src="{% static 'component/base/logo_white.svg' %}" width="50" height="50" alt="logo">
{% endblock %}
	
{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'home_page/main.css' %}">

	<div class="wrapper intro-wrapper">
		<div class="intro">
			<div class="title-wrapper">
				<h1 class="title"><b>Ideas<br>today, reality<br>tomorrow</b></h1>
			</div>
			<div class="subtitle-wrapper">
				<h1 class="subtitle">Create. Share. Collaborate.<br>Ready to change the world?</h1>
			</div>
			<div class="getstarted-wrapper">
				<button class="btn btn-primary getstarted" onclick="window.location.href='#'">Get started</button>
			</div>
		</div>
	</div>

	<!-- Main wave -->
	<svg class="wave" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320"><path fill="#FFF" fill-opacity="1" d="M0,224L34.3,213.3C68.6,203,137,181,206,176C274.3,171,343,181,411,186.7C480,192,549,192,617,170.7C685.7,149,754,107,823,90.7C891.4,75,960,85,1029,101.3C1097.1,117,1166,139,1234,128C1302.9,117,1371,75,1406,53.3L1440,32L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

	<!-- Sub wave -->
	<svg class="wave" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320"><path d="M0 224L34.3 213.3C68.6 203 137 181 206 176C274.3 171 343 181 411 186.7C480 192 549 192 617 170.7C685.7 149 754 107 823 90.7C891.4 75 960 85 1029 101.3C1097.1 117 1166 139 1234 128C1302.9 117 1371 75 1406 53.3L1440 32V-3.04077e-05C1440 -3.04077e-05 1383 -2.40006 1246 53.3C1109 109 957 14 803 39C649 64 559.617 211.498 408.617 183.499C257.617 155.499 189 136 107 156C25 176 0 224 0 224Z" fill="#EEE"/></svg>


	<div class="wrapper">
		<div class="about">
			<h1>About us</h1>
			<p>
				We are a Non-Profit organisation that allows your idea to be seen by creative eyes and turn into reality! It doesn't matter whether its a shower idea or something you have planned inside out. In our mind every idea is valuable and deserves to be uncovered.
			</p>

			<h1>Our mission</h1>
			<p>
				It's 2020, time to change and help the world. Ideas are important, sometimes minor ideas could have major impact on the world. Do you have any ideas that are locked up in your brain? If you can't turn them into reality, give others the oppotunity to do so! Modern Technology is advencing at an incredible rate thanks to opensource code. What would happen if our <u>ideas</u> were 'opensourced' and avaliable to everyone? Many people have incredible skills, but doesn't know what to build. In contrast, many thinker have ideas and visions but doesn't have the skills to execute it.

				The Impossible is a platform where thinkers can share their ideas with the world and a place for makers to find insperation for their next project.
			</p>
		</div>
	</div>
{% endblock %}