<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light">
	<a class="navbar-brand" href="{% url 'home_page' %}">
		{% block navbar_logo %}
  			<img src="{% static 'component/base/logo.svg' %}" width="50" height="50" alt="logo">
  		{% endblock %}
  		<span>The Impossible</span>
  	</a>
  	<button class="navbar-toggler" type="button" onclick="navbar_expand();" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<img class="expand-icon" src="{% static 'component/feather_svg/align-justify.svg' %}">
  	</button>
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  		<!-- Don't delete this or navbar right won't float right -->
	  		<ul class="navbar-nav mr-auto"></ul>
  			<ul class="navbar-nav navbar-right" id="navbar-append-origin1">
  				{% block custom_nav_link %}
	    		<li class="nav-item">
	        		<button class="dropdown-item hide-svg" onclick="window.location.href='{% url 'idea_explore_page' week_num=date.week page_num=1  %}'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg><span>Explore</span></button>
	     		</li>
	     		{% endblock %}
	    		{% if user.is_authenticated %}
	    			<li class="nav-item nav-auth">
		        		<button class="dropdown-item" onclick="window.location.href='user/account/dashboard/1/'">Account</button>
		     		</li>
		    		<li class="nav-item nav-auth">
		        		<button class="dropdown-item" onclick="window.location.href='{% url 'logout_view' %}'">Logout</button>
		     		</li>
	     		{% else %}
	     			<li class="nav-item nav-auth">
		        		<button class="dropdown-item" onclick="window.location.href='{% url 'login_page' %}'">Login</button>
		     		</li>
		    		<li class="nav-item nav-auth">
		        		<button class="dropdown-item" onclick="window.location.href='{% url 'signup_page' %}'">Sign Up</button>
		     		</li>
	     		{% endif %}
	     		<!-- Only show these link in small viewport devices -->
	     		<li class="nav-item nav-hidden">
	        		<button class="dropdown-item" onclick="window.location.href='#'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg><span>Projects</span></button>
	     		</li>
	     		<li class="nav-item nav-hidden">
	        		<button class="dropdown-item" onclick="window.location.href='#'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg><span>Like Minded</span></button>
	     		</li>
	     		<li class="nav-item nav-hidden">
		        		<button class="dropdown-item" onclick="window.location.href='#'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg><span>About Us</span></button>
	     		</li>
	    		<li class="nav-item nav-hidden">
	        		<button class="dropdown-item" onclick="window.location.href='https://www.instagram.com/micha31r/'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg><span>Contact</span></button>
	     		</li>
	    	</ul>
  			<div class="navbar-overflow-container">
  				<div class="navbar-wrapper">
  					<table>
  						<tr>
  							<td>
			  					<h1 class="second-navbar-brand">The Impossible</h1>
			  				</td>
			  				<td class="backarrow-td">
			  					<button class="navbar-toggler" type="button" onclick="navbar_contract();" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(180,180,180)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
  								</button>
			  				</td>
			  			</tr>
			  		</table>
			  		<ul class="navbar-nav navbar-right" id="navbar-append-target1">
			  		</ul>
			  		<ul id="navbar-append-target2">
	    			</ul>
	    		</div>
	  		</div>
		</div>
	</nav>
</nav>