:root {
	/* css variables */
	--margin-right: 55%;
	--margin-between-element: 20px;

	/* file display dimension */
	/* for images and videos only */
	--image-width: 100%;
	--width-height: 400;
}

input {
	width: 100%;
	min-width: 200px;
	padding: 10px;
	border-style: solid;
	border-color: grey;
	border-width: 0px;
	border-radius: 5px;
	background-color: rgb(245,245,245);
	margin-bottom: var(--margin-between-element);
	font-size: 2rem;
}

input::placeholder {
	color: rgb(190,190,190);
}

input:focus::placeholder{
	color: rgb(170,170,210);
}

input:focus {
	outline: none;
	background-color: rgb(230,230,240);
}

@media only screen and (max-width: 830px) {
	.form-wrapper {
		width: 100% !important;
	}
	.timestamp {
		text-align: left !important;
	}
}

.form-wrapper {
	width: calc(100% - var(--margin-right));
}

#hidden {
	width: 100%;
	opacity: 0;
}

#id_file {
	display: none;
	font-size: 1rem;
}

#file-wrapper {
	width: 100%;
	max-height: 1000px;
	border-radius: 5px;
	background-color: rgb(225,225,225);
	background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: var(--margin-between-element);
}

#file-wrapper table {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#blur {
	position: absolute;
	width: 100%;
	height: 100%;
 	border-radius: 5px;
	background-color: rgb(0,0,0);
	transition: opacity 0.3s;
	opacity: 0;
	z-index: 1; 
}

#file-button {
	transition: opacity 0.3s;
	opacity: 0;
}

.timestamp {
	font-family: 'Varela Round', sans-serif;
	margin-top: var(--margin-between-element);
	width: 100%;
	text-align: right;
}

.timestamp p {
	margin: 0;
}

.timestamp .time {
	color: grey;
}
