.user-info-container {
	width: 100%;
	max-width: 600px;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 20px;
	border-width: 2px;
	border-color: rgba(0,0,0,0.1);
	border-style: dashed;
}

.user-info-container div {
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 10px 15px rgb(215,165,10);
}

.username {
	margin-bottom: 0;
}

.fullname {
	color: rgba(0,0,0,0.5);
	margin-bottom: 15px;
}

.bio {
	margin-bottom: 0;
}

.website {
	display: block;
	margin-bottom: 15px;
	color: rgb(252,52,104);
}

.website:hover {
	color: rgb(212,12,164);
	text-decoration: none;
}

.joined-timestamp {
	margin-bottom: 0;
	font-family: "Arciform", sans-serif;
}

.edit-profile {
	display: block;
	border-radius: 200px;
	margin-top: 20px;
}

