:root {
	--margin-between-element: 20px;
}

a:hover {
	color: currentColor;
	text-decoration: none;
}

/* User info */

.target-profile-img-wrapper, .profile-img-wrapper {
	display: inline-block; 
	margin-right: 10px;
	vertical-align: top; 
	border-radius: 100%;
	width: 80px;
	height: 80px;
	overflow: hidden;
	background-color: var(--color-six);
}

.target-profile-img-wrapper a {
	display: block;
	width: 80px;
	height: 80px;
}

.target-profile-img {
	height: 100%;
}

.user-info {
	background-color: var(--color-first);
	min-height: 300px;
}

.user-info-container {
	display: inline-block;
	width: 600px;
	max-width: 100%;
	/*box-shadow: inset 0px 10px 15px 0px #eee;*/
	padding: 20px;
	border-radius: 10px;
}

.username {
	color: var(--color-six);
	margin-bottom: 0;
}

.fullname {
	color: var(--color-four);
	margin-bottom: 15px;
}

.bio {
	color: var(--color-six);
	margin-bottom: 0;
}

.website {
	display: block;
	margin-bottom: 15px;
	color: var(--color-brand);
	font-weight: bold;
}

.website:hover {
	color: var(--color-brand-dark); 
}

.joined-timestamp, .daily-limit, .followers, .following {
	display: inline-block;
	margin-bottom: 0;
	margin-right: 30px;
	font-family: "Arciform", sans-serif;
	filter: var(--invert-filter);
	color: var(--color-six);
}

.followers:hover, .following:hover {
	text-decoration: underline;
}

.daily-limit {
	margin-right: 0;
}

.edit-profile {
	display: block;
	border-radius: 200px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

/* ----------- */

/* Notification */

.notification-container {
	float: right;
}

@media only screen and (max-width: 1080px) {
	.notification-container {
		display: none !important;
	}
	.user-info-container {
		box-shadow: none;
		padding: 0px;
	}
}

/* ----------- */

/* Masonary ideas */

.header-wrapper {
	margin-bottom: 20px;
}

.header {
	display: inline-block;
	width: max-content;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 100px;
}

@media only screen and (max-width: 450px) {
	.header {
		width: 100%;
		margin-bottom: 5px;
	}
}

/* ----------- */

/* Followers' Profile */

.follower-header {
	color: var(--color-six);
	padding: 5px;
	border: 0;
}

.follower-header a {
	color: var(--color-four);
}

.follower-header svg {
	vertical-align: bottom;
	stroke: var(--color-four);
}

.no-follower-text {
	text-align: center;
	color: var(--color-four);
}

.horizontal-overflow-wrapper {
	height: max-content;
	overflow-x: scroll;
	overflow-y: hidden;
}

.horizontal-container {
	width: max-content;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* This border has the same color as body background */
.profile-img-border {
	display: inline-block; 
	width: 108px;
	height: 108px;
	margin-right: -30px; 
	border-width: 4px;
	border-style: solid;
	border-color: var(--color-first);
	border-radius: 100%;
}

.profile-img-wrapper {
	width: 100px;
	height: 100px;
	margin-right: -30px; 
	border-width: 4px;
	border-style: solid;
	border-color: var(--color-brand);
}

.profile-img-wrapper:hover {
	border-color: var(--color-brand-dark);
}

.profile-img {
	height: 100%;
}

/* ----------- */