:root {
	--margin-between-element: 20px;
}

body {
	background-color: #111;
}

footer {
	background-color: rgb(255,205,60) !important;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
} 

a:hover {
	color: currentColor;
	text-decoration: none;
}

.wrapper {
	background-color: #111;
}

/* User info */

.user-info {
	background-color: rgb(255,205,60);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	min-height: 300px;
}

.user-info-container {
	display: inline-block;
	max-width: 500px;
}

.username {
	margin-bottom: 0;
}

.fullname {
	color: rgba(0,0,0,0.4);
	margin-bottom: 15px;
}

.bio {
	margin-bottom: 0;
}

.website {
	display: block;
	margin-bottom: 15px;
	color: rgba(0,0,0,0.5);
	font-weight: bold;
}

.website:hover {
	color: rgba(0,0,0,0.8);
}

.joined-timestamp, .daily-limit, .followers, .following {
	display: inline-block;
	margin-bottom: 0;
	margin-right: 30px;
	font-family: "Arciform", sans-serif;
}

.daily-limit {
	margin-right: 0;
}

.edit-profile {
	display: block;
	border-radius: 200px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

/* ----------- */

/* Notification */

.notification-container {
	width: 400px;
	float: right;
}

@media only screen and (max-width: 1000px) {
	.notification-container {
		display: none !important;
	}
}

/* ----------- */

/* Masonary ideas */

.header-wrapper {
	margin-left: 30px;
}

.header {
	font-family: "Arciform", sans-serif;
	display: inline-block;
	width: max-content;
	padding: 20px;
	padding-bottom: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-width: 2px;
	border-bottom-width: 0;
	border-color: rgba(255,255,255,0.2);
	border-style: dashed;
}

.header a {
	color: #444;
}

.header a:hover {
	color: #555;
}

.header-current {
	border-color: #666;
	border-style: solid;
}

.header-current a {
	color: #666;
}

.view-all-idea {
	display: block;
	text-align: right;
	margin-right: 20px;
	margin-top: 5px;
	color: rgb(184,134,6);
}

.view-all-idea:hover {
	color: rgb(254,204,76);
}

.flex-container {
	border-radius: 30px;
	border-width: 2px;
	border-color: #666;
	border-style: solid;
	padding: 20px;
}

.card {
	box-shadow: 0px 10px 15px #000 !important;
}

.no-content-text h1, .no-content-text a, .no-content-text span {
	color: #222 !important;
}

@media only screen and (max-width: 685px) {
	.header-wrapper {
		display: none;
	}
	.flex-container {
		border-color: #444;
		border-style: dashed;
	}
}

@media only screen and (max-width: 600px) {
	.flex-container {
		border: 0;
		padding: 0;
	}
}

/* ----------- */

.page-link-wrapper {
	padding-top: 20px;
	padding-left: 20px;
	width: 100%;
	height: max-content;
	text-align: right;
}

.left-arrow, .right-arrow {
	height: 0.8rem;
}

.change-page .left-arrow, .change-page .right-arrow {
	fill: rgb(225,175,30);
}

.change-page-unavailable .left-arrow, .change-page-unavailable .right-arrow  {
	fill: #555;
}

.word-omission {
	display: inline-block;
	color: grey;
}

.page-link, .current-page-link {
	display: inline-block;
	border: 0;
	padding: 0;
	margin: 5px;
	color: rgb(225,175,30);
	background-color: transparent;
}

.page-link:hover {
	background-color: transparent;
	color: rgb(195,145,0);
}

.current-page-link {
	color: #fff;
	border-style: solid;
	border-color: #fff;
	border-bottom-width: 2px;
}

.current-page-link:hover {
	color: #fff;
}
