body {
	background-color: #fff;
}

.wrapper {
	/*padding: 40px;*/
	height: 100vh;
	min-height: 400px;
}

.row {
	width: 100%;
	padding: 40px;
	/*overflow: scroll;*/
	margin: 0;
}

.center {
	width: max-content;
	max-width: 100%;
	margin: auto;
} 

.center * {
	word-break: break-all;
} 

a {
	color: rgb(230,171,23);
}

a:hover {
	color: rgb(199,149,2);
}