body {
	min-width: 300px;
	width: 100vw;
	height: 100vh;
	font-family: 'Varela Round', sans-serif;
	overflow: scroll;
}

.content {
	overflow: scroll;
}

.title {
	font-size: 3rem;
	text-align: center;
}

.title-wrapper {
	width: 100%;
}