nav {
	z-index: 2;
}

footer {
	display: none !important;
}

@media screen and (max-width: 500px) {
	.explore {
		border-radius: 20px !important;
		font-size: 1.7rem !important;
	}
}

.wrapper {
	height: 100vh;
}

.center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.explore {
	width: max-content;
	max-width: 85vw;
	font-family: "Arciform", sans-serif;
	background-color: #FFF;
	padding: 30px;
	font-size: 2rem;
	line-height: 2rem;
	border-radius: 500px;
	box-shadow: 0px 0px 30px rgb(225,165,20);
}

.explore span {
	margin-right: 20px;
}
