:root {
	/* css variables */
	--footer-padding: 20px;
	--footer-padding-side: 20px;
}

footer {
	height: max-content;
	background-color: rgb(0,0,0,0);
	padding: var(--footer-padding);
	padding-left: var(--footer-padding-side);
	padding-right: var(--footer-padding-side);
	border: 0;
	border-style: solid;
	border-top-width: 2px;
	border-color: rgb(225,175,30);
	font-family: 'Varela Round', sans-serif;
}

footer table {
	margin: 0 !important;
}

footer table * {
	border: 0px !important;
}

footer p {
	margin: 0px;
	background-color: none;
}

footer button {
	font-family: Arciform, sans-serif;
	font-size: 1.3rem;
	outline: none !important;
	border: none;
	color: rgb(41,43,44);
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: rgba(0,0,0,0); 
	background-color: rgba(0,0,0,0);
	padding: 0px;
	margin: 0px;
}

@media only screen and (max-width: 470px) {
	footer td {
		text-align: left !important;
		padding: 0 !important;
	}
} 

footer .icon {
	height: 1.8rem !important;
}

footer .brand-name span {
	margin-left: 0.5rem;
	font-family: Arciform, sans-serif;
	font-size: 1.2rem !important;
}

footer #contact-td {
	text-align: right;
}

footer .time {
	color: grey
}