:root {
	/* header image dimension */
	--header-img-width: 290px;
	--header-img-height: 168px;
	--margin-between-element: 20px;
}

a:hover {
	color: currentColor;
	text-decoration: none;
}

/* Explore */

.explore-header {
	margin-bottom: 50px;
	padding: 5px;
	padding-left: 20px; 
	border: 0;
	border-left-width: 5px;
	border-color: black;
	border-style: solid;
}

.explore-date {
	opacity: 0.8;
}

.btn-week {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

/* Announcement */

.announcement-wrapper {
	/*background-color: rgb(234,184,56);*/
	padding-left: 40px;
}

.announcement-wrapper div {
	width: max-content;
	max-width: 100%;
	padding: 40px;
	padding-right: 0;
	padding-left: 50px;
	border-left-width: 5px;
	border-style: solid;
	border-color: black;
}

.announcement-wrapper h3, p {
	margin-right: 50px;
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
}

.announcement-wrapper p {
	max-width: 600px;
	margin: 0;
	font-size: 1.2rem;
}

.announcement-wrapper button {
	display: block;
	margin-top: 15px;
	padding: 0;
}

/* ------------ */

/* Discover */

.discover-wrapper {
	background-color: #000;
}

.discover-header {
	color: #fff;
}

.discover-customise a {
	color: rgb(254,204,76);
	font-size: 1.2rem;
}

.discover-customise svg {
	margin-left: 5px;
}

.discover-customise svg:hover {
	transform: scaleX(-1);
}

.horizontal-overflow-wrapper {
	height: max-content;
	overflow-x: scroll;
	overflow-y: hidden;
}

.horizontal-container {
	width: max-content;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-img {
	filter: grayscale(100%);
	width: 100%;
	height: var(--header-img-height);
}

.img-border {
	border-bottom-width: 4px !important;
	border-style: solid;
	border-color: rgba(254,204,76,0.7) !important;
	margin-bottom: var(--margin-between-element);
}

.discover-card {
	overflow: hidden;
	vertical-align: top;
	display: inline-block;
	width: 300px;
	height: max-content;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
}

.discover-card .card-title {
	margin-bottom: var(--margin-between-element);
}

.discover-card .card-title a {
	color: #fff;
}

.discover-card .card-subtitle {
	color: #fff;
	opacity: 0.7;
}

.discover-card .card-text {
	color: #fff;
	opacity: 0.4;
}

.discover-card .author {
	opacity: 0.5;
}

/* ------------ */

@media only screen and (max-width: 430px) {
	.announcement-wrapper div {
		padding-left: 20px;
	}
}

.page-link-wrapper {
	padding-top: 20px;
	padding-left: 20px;
	width: 100%;
	height: max-content;
	text-align: right;
}

.left-arrow, .right-arrow {
	height: 0.8rem;
}

.change-page .left-arrow, .change-page .right-arrow {
	fill: #000;
}

.change-page-unavailable .left-arrow, .change-page-unavailable .right-arrow  {
	fill: rgb(225,175,30);
}

.word-omission {
	display: inline-block;
	color: grey;
}

.page-link, .current-page-link {
	display: inline-block;
	border: 0;
	padding: 0;
	margin: 5px;
	color: rgba(0,0,0,0.4);
	background-color: transparent;
}

.page-link:hover {
	background-color: transparent;
	color: rgba(0,0,0,0.6);
}

.current-page-link {
	color: black;
	border-style: solid;
	border-color: black;
	border-bottom-width: 2px;
}