:root {
	/* header image dimension */
	--header-img-width: 290px;
	--header-img-height: 168px;
	--margin-between-element: 20px;
}

@keyframes show-card-button {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		display: block;
	}
}

@keyframes hide-card-button {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}

a:hover {
	color: currentColor;
	text-decoration: none;
}

/* Explore */

.explore-header {
	margin-bottom: 50px;
	padding: 5px;
	padding-left: 20px; 
	border: 0;
	border-left-width: 5px;
	border-color: black;
	border-style: solid;
}

.explore-date {
	opacity: 0.8;
}

.btn-week {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

/* https://tobiasahlin.com/blog/masonry-with-css/ */
.flex-container {
    display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	/* Must be fixed height for masonary to work */
	height: 400px;
	width: 100%;
	overflow: scroll;
	/*background-color: rgb(255,205,60);*/
}

.no-content-text {
	width:100%;
	height:100%; 
	text-align: center;
}

.no-content-text h1, .no-content-text a {
	font-family: 'Arciform', sans-serif;
	font-size: 5rem;
	line-height: 5rem;
	color: rgb(234,184,56);
	word-break: break-all;
	margin: 0;
}

.no-content-text span {
	color: rgb(224,174,46);
}

.no-content-text a {
	font-size: 2rem;
	line-height: 2rem;
	transition: color 0.4s;
}

.no-content-text a:hover {
	color: rgb(204,154,26);
	background-color: transparent !important;
}

.flex-wrapper {
	position: relative;
	margin-bottom: 2%;
	box-sizing: border-box;
}

.card {
	width: 100%;
	border: 0;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgb(225,175,20);
}

.card-img-wrapper {
	height: 120px;
	overflow: hidden;
	border-top-right-radius: 10px; 
	border-top-left-radius: 10px;
}

.card-img-wrapper img {
	filter: grayscale(100%);
	width: 100%;
}

.card-title {
	margin-top: 5px;
}

.card-title a {
	color: black;
	transition: color 0.3s;
}

.card-title a:hover {
	text-decoration: underline;
	color: #555;
}

.author, .views {
	font-size: 0.8rem;
	color: grey;
	margin: 0;
	width: 100%;
}

/* ------------ */

/* Announcement */

.announcement-wrapper {
	background-color: rgb(224,174,46);
}

.announcement-wrapper div {
	margin-left: 60px;
	padding-left: 30px;
	border-left-width: 5px;
	border-style: solid;
	border-color: black;
}

.announcement-wrapper h3 {
	margin-right: 50px;
	margin-bottom: 20px;
}

.announcement-wrapper h3, p {
	display: inline-block;
	vertical-align: top;
}

.announcement-wrapper p {
	margin: 0;
}

/* ------------ */

/* Discover */

.discover-wrapper {
	background-color: #000;
}

.discover-header {
	color: #fff;
}

.discover-customise a {
	color: rgb(254,204,76);
}

.discover-customise svg {
	margin-left: 5px;
}

.discover-customise svg:hover {
	transform: scaleX(-1);
}

.horizontal-overflow-wrapper {
	height: max-content;
	overflow-x: scroll;
	overflow-y: hidden;
}

.horizontal-container {
	width: max-content;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-img {
	filter: grayscale(100%);
	width: 100%;
	height: var(--header-img-height);
}

.img-border {
	border-bottom-width: 4px !important;
	border-style: solid;
	border-color: rgba(254,204,76,0.7) !important;
	margin-bottom: var(--margin-between-element);
}

.discover-card {
	overflow: hidden;
	vertical-align: top;
	display: inline-block;
	width: 300px;
	height: max-content;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
}

.discover-card .card-title {
	margin-bottom: var(--margin-between-element);
}

.discover-card .card-title a {
	color: #fff;
}

.discover-card .card-subtitle {
	color: #fff;
	opacity: 0.7;
}

.discover-card .card-text {
	color: #fff;
	opacity: 0.4;
}

.discover-card .author {
	opacity: 0.5;
}

/* ------------ */

@media only screen and (min-width: 1700px) {
	.flex-wrapper {
		width: 15%;
	}
	.flex-wrapper:nth-of-type(6n+1) { order: 1; }
	.flex-wrapper:nth-of-type(6n+2) { order: 2; }
	.flex-wrapper:nth-of-type(6n+3) { order: 3; }
	.flex-wrapper:nth-of-type(6n+4) { order: 4; }
	.flex-wrapper:nth-of-type(6n+5) { order: 5; }
	.flex-wrapper:nth-of-type(6n) { order: 6; }
}

@media only screen and (max-width: 1699px) {
	.flex-wrapper {
		width: 19%;
	}
	.flex-wrapper:nth-of-type(5n+1) { order: 1; }
	.flex-wrapper:nth-of-type(5n+2) { order: 2; }
	.flex-wrapper:nth-of-type(5n+3) { order: 3; }
	.flex-wrapper:nth-of-type(5n+4) { order: 4; }
	.flex-wrapper:nth-of-type(5n) { order: 5; }
}

@media only screen and (max-width: 1399px) {
	.flex-wrapper {
		width: 24%;
	}
	.flex-wrapper:nth-of-type(4n+1) { order: 1; }
	.flex-wrapper:nth-of-type(4n+2) { order: 2; }
	.flex-wrapper:nth-of-type(4n+3) { order: 3; }
	.flex-wrapper:nth-of-type(4n) { order: 4; }
}

@media only screen and (max-width: 1099px) {
	.flex-wrapper {
		width: 32%;
	}
	.flex-wrapper:nth-of-type(3n+1) { order: 1; }
	.flex-wrapper:nth-of-type(3n+2) { order: 2; }
	.flex-wrapper:nth-of-type(3n) { order: 3; }
}

@media only screen and (max-width: 799px) {
	.flex-wrapper {
		width: 48%;
		margin-bottom: 3%;
	}
	.flex-wrapper:nth-of-type(2n+1) { order: 1; }
	.flex-wrapper:nth-of-type(2n) { order: 2; }
}

@media only screen and (max-width: 499px) {
	.flex-wrapper {
		width: 100%;
		margin-bottom: 5%;
	}
	.flex-wrapper:nth-of-type(2n) { order: 1; }
}

/* Force new columns */
.break {
  flex-basis: 100%;
  width: 0;
  border: none;
  margin: 0;
  padding: 0;
}

.page-link-wrapper {
	padding-top: 20px;
	padding-left: 20px;
	width: 100%;
	height: max-content;
	text-align: right;
}

.left-arrow, .right-arrow {
	height: 0.8rem;
}

.change-page .left-arrow, .change-page .right-arrow {
	fill: #000;
}

.change-page-unavailable .left-arrow, .change-page-unavailable .right-arrow  {
	fill: rgb(225,175,30);
}

.word-omission {
	display: inline-block;
	color: grey;
}

.page-link, .current-page-link {
	display: inline-block;
	border: 0;
	padding: 0;
	margin: 5px;
	color: rgba(0,0,0,0.4);
	background-color: transparent;
}

.page-link:hover {
	background-color: transparent;
	color: rgba(0,0,0,0.6);
}

.current-page-link {
	color: black;
	border-style: solid;
	border-color: black;
	border-bottom-width: 2px;
}