.theme-light {
    --color-primary: #fff;
    --color-secondary: #fff;
    --color-third: #eee;
    --color-fourth: #ddd;
    --color-fifth: #aaa;
    --color-sixth: #888;
    --color-seventh: #111;
    --color-eighth: #333;
    --color-ninth: #000;
    --color-tenth: #000;
    --color-eleventh: #666;
    --color-twelveth: rgba(255,255,255,0.2);
    --color-thirteenth: #000;
    --color-fourteenth: #fff;
    --color-fifteenth: rgb(255,230,97);
    --color-sixteenth: rgb(255,225,64);
    --color-seventeenth: rgba(0,0,0,0.4);
    --color-eighteenth: rgba(0,0,0,0.6);
    --color-ninteenth: rgba(0,0,0,0.1);
    --color-twentieth: #111;

    --invert-filter: invert(0%);
    --invert-filter-reverse: invert(100%);
}

.theme-dark {
    --color-primary: #111;
    --color-secondary: #222;
    --color-third: #333;
    --color-fourth: #444;
    --color-fifth: #555;
    --color-sixth: #666;
    --color-seventh: #eee;
    --color-eighth: #ccc;
    --color-ninth: #fff;
    --color-tenth: #222;
    --color-eleventh: #888;
    --color-twelveth: rgba(0,0,0,0.3);
    --color-thirteenth: #ccc;
    --color-fourteenth: #bbb;
    --color-fifteenth: #444;
    --color-sixteenth: #333;
    --color-seventeenth: #444;
    --color-eighteenth: #666;
    --color-ninteenth: rgba(255,255,255,0.1);
    --color-twentieth: #fff;

    --invert-filter: invert(100%);
    --invert-filter-reverse: invert(0%);
}

/* Navbar color change toggle */
/*https://www.w3schools.com/howto/howto_css_switch.asp*/

.color-theme-toggle-btn {
    border: 0;
    height: 100%;
    padding-bottom: 0;
    padding-top: calc((100% - 48px) / 2);
}

.color-theme-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.color-theme-toggle input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ffd000; 
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffd000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}


