body {
	min-width: 300px;
	width: 100vw;
	max-width: 1500px;
	height: 100vh;
	/*font-family: 'Arciform', sans-serif;*/
	overflow: scroll;
	background-color: rgb(255,205,60);
}

.alert {
	font-size: 1.2rem;
}

.alert-black, .btn-black {
	color: #FFF;
	background-color: #000;
}

.alert-black svg, .alert-black img {
	vertical-align: text-bottom;
	margin-right: 5px;
}

.alert-black-outline, .btn-black-outline {
	border-width: 3px;
	border-color: #000;
	border-style: solid;
	color: #000;
	text
}

.wrapper {
	padding: 40px;
}

.section-seperator {
	margin: 0;
	border-top-width: 2px;
}

.bold {
	font-weight: bold;
}