body {
	min-width: 300px;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-primary);
}

/* Hide scroll bar in all browsers */
/* Don't hide scroll bar for <html> !! */
body *::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.main-container {
	width: 90vw;var(--color-primary)
	max-width: 1200px;
}

@media only screen and (max-width: 500px) {
	.main-container {
		margin-left: 0px !important;
		margin-right: 0px !important;
		width: 100% !important;
	}
} 

.before-header {
	max-width: 100vw;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-size: 7rem;
	color: #000;
	text-align: right;
}

.alert {
	font-size: 1.2rem;
}

.alert-black, .btn-black {
	color: var(--color-primary) !important;
	background-color: var(--color-ninth);
}

.btn-black:hover {
	background-color: var(--color-eighth) !important;
	border-color: var(--color-eighth) !important;
}

.alert-black svg, .alert-black img {
	vertical-align: text-bottom;
	margin-right: 5px;
}

.alert-black-outline, .btn-black-outline, .btn-black {
	border-width: 2px;
	border-color: var(--color-ninth);
	border-style: solid;
	color: var(--color-ninth);
}

.btn-yellow, .btn-yellow-outline {
	color: rgb(207,169,0);
	background-color: var(--color-fifteenth);
	border-width: 2px;
	border-color: var(--color-fifteenth);
	border-style: solid;
	border-radius: 10px;
}

.btn-yellow-outline {
	border-color: rgb(235,192,0);
	background-color: transparent;
}

.btn-yellow:hover {
	color: rgb(171,140,0);
	border-color: var(--color-sixteenth);
	background-color: var(--color-sixteenth);
}

.btn-yellow-outline:hover {
	color: rgb(225,182,0);
	border-color: rgb(235,192,0) !important;
	background-color: rgba(255,231,105,0.2) !important;
}

.wrapper {
	padding: 40px;
}

.section-seperator {
	margin: 0;
	border-top-width: 2px;
	border-color: var(--color-ninteenth);
}

.bold {
	font-weight: bold;
}