body {
	min-width: 300px;
	width: 100vw;
	height: 100vh;
	/*font-family: 'Arciform', sans-serif;*/
	overflow: scroll;
	background-color: rgb(255,205,60);
}

.alert-danger {
	font-size: 1.2rem;
}

.wrapper {
	padding: 40px;
	max-width: 1280px;
}

.btn-purple {
	background-color: rgb(90,92,154);
	color: white;
}

.btn-purple:hover {
	background-color: rgb(70,72,134);
	color: rgb(190,192,254);
}

.btn-purple-outline {
	border-width: 1px;
	border-color: rgb(90,92,154);
	border-style: solid;
	color: rgb(90,92,154);
}

.btn-purple-outline:hover {
	background-color: rgb(90,92,154);
	color: #FFF;
}

.btn-bold {
	border-width: 2px;
	font-weight: bold;
}