{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Upload - The Impossible</title>
{% endblock %}

{% block content %}
	<!-- Mobile js -->
	<script type="text/javascript" src="{% static 'component/base/mobile.js' %}"></script>

	<!-- Blur js -->
	<script type="text/javascript" src="{% static 'userupload/file_page/blur.js' %}"></script>

	<!-- Resize js -->
	<script type="text/javascript" src="{% static 'userupload/file_page/resize.js' %}"></script>

	<!-- Main css -->
	<link rel="stylesheet" type="text/css" href="{% static 'userupload/file_page/main.css' %}">

	<div class="wrapper">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-wrapper">
				<!-- Show errors -->
				{% if error %}
					<div class="alert alert-danger" role="alert">
		                {{ error|escape }}
		            </div>
				{% endif %}

				{% include 'form_error.html' %}

				{{ form.description }}
				<!-- The real file input is hidden -->
				<p hidden>{{ form.file }}</p>

				<!-- This button replaces the default input -->
				<div id="file-wrapper" style="{% if file_type == 'image' %} background-image:url('{{ file.file.url }}'); {% endif %}">
					<div id="blur"></div>
					<img id="hidden" src="{{ file.file.url }}">
					<table>
						<tr>
							<td class="align-middle">
								<button class="btn btn-light" id="file-button" onclick="$('#id_file').click(); return false;">Choose File</button>
							</td>
						</tr>
					</table>
				</div>
				<button class="btn btn-purple-outline btn-bold submit" type="submit" data-toggle="popover" data-trigger="hover" title="Note" data-content="Image file will show once saved">Save Changes</button>
				<!-- Show tooltip after hover -->
				<script type="text/javascript">
					if (!window.mobileAndTabletCheck()) {
						$('.submit').popover({
							trigger: 'hover'
						})
					}
				</script>
			</div>
		</form>

		<!-- Timestamp -->
		<div class="timestamp">
			<p>Created at <span class="time">{{ file.timestamp }}</span></p>
			<p>Last Edited <span class="time">{{ file.last_edit }}</span></p>
		</div>
	</div>
{% endblock %}