{% load static %}
{% load tags %}

<link rel="stylesheet" type="text/css" href="{% static 'usermgmt/account_setting_profile_page/main.css' %}">

<script type="text/javascript" src="{% static 'usermgmt/account_setting_profile_page/resize.js' %}"></script>

<form class="profile-form" method="post">
	{% csrf_token %}

	<!-- Show error -->
	{% if error %}
		<div class="alert alert-black" role="alert">
	  		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
	  		{{ error|escape }}
		</div>
	{% endif %}

	{% include 'form_error.html' %}

	<table>
		<tr id="append-target1"></tr>
		<tr id="append-origin1">
			<td class="td-label">
				<p>{{ form.current_password.label }}:</p>
			</td>
			<td>
				{{ form.current_password }}
			</td>
		</tr>
		<tr id="append-target2"></tr>
		<tr id="append-origin2">
			<td class="td-label">
				<p>{{ form.new_password.label }}:</p>
			</td>
			<td>
				{{ form.new_password }}
			</td>
		</tr>
		<tr id="append-target3"></tr>
		<tr id="append-origin3">
			<td class="td-label">
				<p>{{ form.password_confirmation.label }}:</p>
			</td>
			<td>
				{{ form.password_confirmation }}
			</td>
		</tr>
	</table>
	<button class="btn btn-yellow bold" type="submit">Change Password</button>
</form>