{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %}
	<title>Profile - The Impossible</title>
{% endblock %}

{% block content %} 
	<div class="wrapper">
		<link rel="stylesheet" type="text/css" href="{% static 'usermgmt/account_profile_page/main.css' %}"> 

		<div class="close-window-wrapper">
			<button class="btn close-window" onclick="window.location.href='{% url 'account_dashboard_page' username=user.username content_filter='my' page_num=1 %}'"><img src="{% static 'component/feather_svg/x.svg' %}"></button>
		</div>

		<div class="form-wrapper">
			<form class="profile-form" method="post">
				<h1>Profile</h1>
		    	{% csrf_token %}

		    	<!-- Show error -->
				{% if error %}
					<div class="alert alert-black" role="alert">
				  		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
				  		{{ error|escape }}
					</div>
				{% endif %}

				{% include 'form_error.html' %}

				{{ form.first_name }}
				{{ form.last_name }}
				{{ form.email }}
				{{ form.bio }}
				{{ form.website }}
				{{ form.location }}

				<button class="btn btn-yellow-outline bold" type="submit">Update Profile</button>
			</form>
		</div>
	</div>
{% endblock %}