{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>My Posts - The Impossible</title>
{% endblock %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="{% static 'usermgmt/account_dashboard_page/main.css' %}">

	<div class="wrapper user-info">
		<div class="user-info-container">
			<h1 class="username">@{{ user.username }}</h1>
			<h5 class="fullname">{{ user.get_full_name }}</h5>
			<p class="bio">{{ profile.bio }}</p>
			<a class="website" href="{{ profile.website }}">{{ profile.website }}</a>
			<p class="joined-timestamp"><img src="{% static 'component/feather_svg/user-plus.svg' %}"> Joined {{ profile.timestamp.date }}</p>
			<p class="daily-limit"><img src="{% static 'component/feather_svg/edit.svg' %}"> Daily Limit {{ profile.daily_limit }}</p>
			<!-- Edit button -->
			<button class="btn btn-dark btn-black bold edit-profile" onclick="window.location.href='#'">Edit Profile</button>
		</div>
	</div>
	<div class="wrapper">
		<h2 class="header">My Posts</h2>
		{% include 'idea/masonary.html' %}
		<a class="view-all-idea" href="#">View All</a>
	</div>
{% endblock %}