{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Account - The Impossible</title>
{% endblock %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="{% static 'usermgmt/account_dashboard_page/main.css' %}">

	<div class="wrapper user-info-wrapper">
		<div class="user-info-container">
			<h1 class="username">{{ user.username }}</h1>
			<h4 class="fullname">{{ user.get_full_name }}</h4>
			<p class="bio">{{ profile.bio }}</p>
			<a class="website" href="{{ profile.website }}">{{ profile.website }}</a>
			<p class="joined-timestamp">{{ profile.timestamp }}</p>
		</div>
	</div>

	{% include 'idea/liked_idea.html' %}
{% endblock %}