{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'usermgmt/notification/main.css' %}"> 

<div class="notification-container">
	<script type="text/javascript" src="{% static 'usermgmt/notification/resize.js' %}"></script>

	<h2><a href="{% url 'account_notification_page' page_num=1 %}">Notifications</a> {% if user.is_authenticated and new_notification %}<span class="new-notification-dot"></span>{% endif %}<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg></h2>
	<div class="message-container">
		{% for notification in notifications %}
			<div class="message-wrapper">
				{% if notification.message_status == 1 and target_profile.user == user or undismissed_notifications %}
					<h6>
						{% if notification in undismissed_notifications %}
							<span>Unread:</span>
						{% endif %}
						{{ notification.message }}
					</h6>
					<p>{{ notification.get_message_status_display }} Message</p>
				{% else %}
					<h6>{{ notification.message }}</h6>
					<p>{{ notification.get_message_status_display }} Message</p>
				{% endif %}
			</div>
		{% endfor %}
		<!-- Show no notification message -->
		{% if notifications|length == 0 %}
			<div class="message-wrapper">
				<h6>No recent notifications.</h6>
				<p>Public Message</p>
			</div>
		{% endif %}
	</div>
</div>