{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Sign Up - The Impossible</title>
{% endblock %}

{% block content %}
	<div class="wrapper">
		<form method="post">
	    	{% csrf_token %}

	    	<!-- Show error -->
			{% if error %}
				<div class="alert alert-danger" role="alert">
			  		{{ error|escape }}
				</div>
			{% endif %}

			{% include 'form_error.html' %}

			{{ signup_form.as_p }}
			<br>
			<button class="btn btn-primary" type="submit">Sign Up</button>
		</form>
		<a href="{% url 'login_page' %}">Already Registered?</a>
	</div>
{% endblock %}