{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Sign Up - The Impossible</title>
{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'usermgmt/authenticate.css' %}"> 

	<style type="text/css">
		.wrapper {
			min-height: 700px;
		}
	</style>

	<div class="wrapper">
		<div class="row align-items-center h-100">
			<div class="center">
				<div class="logo-wrapper">
					<svg width="50" height="50" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M250 125C250 194.036 194.036 250 125 250C96.6558 250 70.5151 240.566 49.5464 224.667L68.6005 205.613C84.4816 216.578 103.741 223 124.5 223C178.9 223 223 178.9 223 124.5C223 103.741 216.578 84.4816 205.613 68.6005L224.667 49.5464C240.566 70.5151 250 96.6558 250 125ZM185.013 46.774L203.814 27.9726C182.31 10.4834 154.879 0 125 0C55.9644 0 0 55.9644 0 125C0 154.879 10.4834 182.31 27.9726 203.814L46.774 185.013C33.7556 168.315 26 147.313 26 124.5C26 70.1 70.1 26 124.5 26C147.313 26 168.315 33.7556 185.013 46.774Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M84.9445 185.269L185.269 84.9445C192.688 96.3196 197 109.906 197 124.5C197 164.541 164.541 197 124.5 197C109.906 197 96.3196 192.688 84.9445 185.269Z" fill="white"/>
					<circle cx="214" cy="15" r="4" fill="white"/>
					<circle cx="14" cy="43" r="5" fill="white"/>
					<circle cx="181" cy="244" r="4" fill="white"/>
					<circle cx="237" cy="206" r="5" fill="white"/>
					<circle cx="27" cy="10" r="5" fill="white"/>
					</svg>
				</div>
				<h4><b>Create an account for The Impossible</b></h4>
				<form method="post">
			    	{% csrf_token %}

			    	<!-- Show error -->
					{% if error %}
						<div class="alert alert-black" role="alert">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
					  		{{ error|escape }}
						</div>
					{% endif %}

					{% include 'form_error.html' with form=signup_form %}

					{{ signup_form.first_name }}
					{{ signup_form.last_name }}
					{{ signup_form.username }}
					{{ signup_form.email }}
					{{ signup_form.password }}
					{{ signup_form.password_confirmation }}
					
					<button class="btn btn-yellow bold" type="submit">Sign Up</button>
				</form>
				<a class="alt-auth-method" href="{% url 'usermgmt:login_page' %}">Already Registered?</a>
			</div>
		</div>
	</div>
{% endblock %}