.page-link-wrapper {
	padding-top: 20px;
	padding-left: 20px;
	width: 100%;
	height: max-content;
	text-align: right;
}

.left-arrow, .right-arrow {
	height: 0.8rem;
}

.change-page .left-arrow, .change-page .right-arrow {
	fill: #000;
}

.change-page-unavailable .left-arrow, .change-page-unavailable .right-arrow  {
	fill: rgb(225,175,30);
}

.word-omission {
	display: inline-block;
	color: grey;
}

.page-link, .current-page-link {
	display: inline-block;
	border: 0;
	padding: 0;
	margin: 5px;
	color: rgba(0,0,0,0.4);
	background-color: transparent;
}

.page-link:hover {
	background-color: transparent;
	color: rgba(0,0,0,0.6);
}

.current-page-link {
	color: black;
	border-style: solid;
	border-color: black;
	border-bottom-width: 2px;
}