nav, footer {
	display: none !important;
}

.main-container {
	margin: 0;
}

.wrapper {
	padding: 0;
	height: 100vh;
}

.row {
	overflow: scroll;
}

.center {
	width: max-content;
	max-width: 100%;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.close-window-wrapper {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-bottom: 40px;
	text-align: right;
}

.close-window-wrapper button {
	padding: 0;
}

.close-window img {
	width: 50px;
	padding: 10px;
}

.close-window img:hover {
	padding: 8px;
	border-style: solid;
	border-radius: 100%;
	border-width: 2px;
	border-color: #ddd;
}

.notification-container {
	width: 100% !important;
	max-width: 100% !important;
	border-width: 1px;
	border-style: solid;
	border-color: #bbb;
	border-radius: 10px;
	background-color: transparent !important;
	box-shadow: none !important;
}

.notification-container h2 a {
	color: #000 !important;
}

.notification-container h2 a:hover {
	color: #444 !important;
}

.notification-container h2 svg {
	stroke: #000;
}

.message-wrapper {
	border-color: #eee !important;
}

.message-wrapper h6 {
	color: #000 !important;
}

.message-wrapper p {
	color: #999 !important;
}

@media only screen and (max-width: 700px) {
	.row {
		max-width: 100% !important;
		margin: auto !important;
		height: max-content !important;
	}
	.center {
		width: 90%;
	}
}