.wrapper {
	height: 100vh;
	min-height: 500px;
}

.center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.notification-container {
	width: 50vw !important;
	max-width: 800px;
	min-height: 400px;
	height: 60vh;
}

@media only screen and (max-width: 800px) {
	.notification-container {
		width: 100% !important;
	}
}