body {
	min-width: 300px;
	width: 100vw;
	height: 100vh;
	/*font-family: 'Varela Round', sans-serif;*/
	overflow: scroll;
}

a:hover {
	color: currentColor;
	text-decoration: none;
	background-color: #FFF !important;
}

.wrapper {
	padding: 40px;
}

.header {
	margin-bottom: 50px;
}

.overflow-wrapper {
	height: 100vh;
	overflow-y: scroll;
/*	border-width: 1px;
	border-style: solid;
	border-color: #000;
	border-radius: 5px;*/
}

.overflow-wrapper button {
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

/* https://tobiasahlin.com/blog/masonry-with-css/ */
.flex-container {
    display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	/* Must be fixed height */
	height: 800px;
	width: 100%;
	overflow: scroll;
}

.flex-wrapper {
	position: relative;
	margin-bottom: 2%;
	box-sizing: border-box;
}

@media only screen and (min-width: 1700px) {
	.flex-wrapper {
		width: 15%;
	}
	.flex-wrapper:nth-of-type(6n+1) { order: 1; }
	.flex-wrapper:nth-of-type(6n+2) { order: 2; }
	.flex-wrapper:nth-of-type(6n+3) { order: 3; }
	.flex-wrapper:nth-of-type(6n+4) { order: 4; }
	.flex-wrapper:nth-of-type(6n+5) { order: 5; }
	.flex-wrapper:nth-of-type(6n) { order: 6; }
}

@media only screen and (max-width: 1699px) {
	.flex-wrapper {
		width: 19%;
	}
	.flex-wrapper:nth-of-type(5n+1) { order: 1; }
	.flex-wrapper:nth-of-type(5n+2) { order: 2; }
	.flex-wrapper:nth-of-type(5n+3) { order: 3; }
	.flex-wrapper:nth-of-type(5n+4) { order: 4; }
	.flex-wrapper:nth-of-type(5n) { order: 5; }
}

@media only screen and (max-width: 1399px) {
	.flex-wrapper {
		width: 24%;
	}
	.flex-wrapper:nth-of-type(4n+1) { order: 1; }
	.flex-wrapper:nth-of-type(4n+2) { order: 2; }
	.flex-wrapper:nth-of-type(4n+3) { order: 3; }
	.flex-wrapper:nth-of-type(4n) { order: 4; }
}

@media only screen and (max-width: 1099px) {
	.flex-wrapper {
		width: 32%;
	}
	.flex-wrapper:nth-of-type(3n+1) { order: 1; }
	.flex-wrapper:nth-of-type(3n+2) { order: 2; }
	.flex-wrapper:nth-of-type(3n) { order: 3; }
}

@media only screen and (max-width: 799px) {
	.flex-wrapper {
		width: 48%;
	}
	.flex-wrapper:nth-of-type(2n+1) { order: 1; }
	.flex-wrapper:nth-of-type(2n) { order: 2; }
}

@media only screen and (max-width: 499px) {
	.flex-wrapper {
		width: 100%;
	}
	.flex-wrapper:nth-of-type(2n) { order: 1; }
}


/* Force new columns */
.break {
  flex-basis: 100%;
  width: 0;
  border: none;
  margin: 0;
  padding: 0;
}

.view-count, .like-count {
	height: 1.2rem;
	font-size: 1.1rem;
	line-height: 1.1rem;
	color: rgb(90,92,154);
	font-family: 'Varela Round', sans-serif;
}

.like-count {
	color: rgb(255,55,127);
}

.view-svg, .like-svg {
	display: inline !important;
	height: 1.2rem;
	margin-right: 5px;
	vertical-align: text-top;
}

.like-svg {
	fill: rgb(255,55,127);
	width: 1.2rem;
}

.text-seperator {
	margin-left: 10px;
	margin-right: 10px;
}

.page-link-wrapper {
	padding: 20px;
	width: 100%;
	height: max-content;
	text-align: right;
}

.left-arrow, .right-arrow {
	height: 0.8rem;
}

.change-page .left-arrow, .change-page .right-arrow {
	fill: rgb(95,70,235);
}

.change-page-unavailable .left-arrow, .change-page-unavailable .right-arrow  {
	fill: lightgrey;
}

.word-omission {
	display: inline-block;
	color: grey;
}

.page-link, .current-page-link {
	display: inline-block;
	border: 0;
	padding: 0;
	margin: 5px;
}

.current-page-link {
	color: black;
	border-style: solid;
	border-color: black;
	border-bottom-width: 2px;
}