body {
	width: 100%; 
	height: 100%; 
	margin: 0;
}

/* Navbar related */

.nav {
	width: 100%;
	height: 70px;
	background-color: #000;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}

.nav td {
	width: 100%;
	height: 100%;
}

.nav .logo-td {
	width: max-content;
}

.nav img {
	height: 50px;
	vertical-align: middle;
}

.nav .text {
	display: inline-block; 
	width: 100%;
	font-family: 'system-ui'; 
	font-size: 0.8rem; 
	margin: 0; 
	text-align: right;
}

.my-account {
	color: #fff;
	text-decoration: none;
}

/* Content related */

.wrapper {
	padding: 40px;
	padding-top: 80px;
	padding-bottom: 80px;
}

@media only screen and (max-width: 500px) {
	.wrapper {
		padding: 0 !important;
	}
}

.wrapper * {
	font-family: "Arial", sans-serif;
}

.header-wrapper {
	margin-bottom: 80px;
}

.content-container, .idea-container {
	width: 600px;
	max-width: calc(100% - 80px) !important;
	margin: auto;
	padding: 40px;
	background-color: #f7f7f7;
}

.content-container p {
	margin: 0px;
}

.header {
	font-size: 3rem;
	margin: 0;
	margin-bottom: 5px;
	word-break: break-all;
}

.week-num {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: lighter;
}

.noreply-text {
	color: #aaa;
	text-align: center;
}

.noreply-text a {
	color: #aaa;
	margin-left: 20px;
}

.yellow {
	color: rgb(199,149,2);
}

/* Ideas related */
.idea-container {
	background-color: transparent;
}

.card {
	display: inline-block;
	width: 100%;
	max-width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #eee;
	overflow: hidden;
	vertical-align: top;
	margin-bottom: 20px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
	.card {
		display: block !important;
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

.card-img-wrapper {
	overflow: hidden;
}

.card-img-wrapper img {
	width: 100%;
	filter: grayscale(100%);
}

.card-body {
	width: 100%;
	padding: 20px;
}

.card-body * {
	width: calc(100% - 40px);
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1rem;
}

.card-title {
	margin-top: 5px;
	margin-bottom: 10px;
}

.card-title a {
	word-break: break-all;
	color: #000;
	text-decoration: none;
	font-size: 1.3rem;
	font-family: system-ui;
	font-weight: 500 !important;
	word-break: break-all;
}

.card-subtitle {
	color: #bbb;
	margin-bottom: 10px;
}

.card-text {
	word-break: break-all;
	margin-bottom: 10px;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
}

.author, .views {
	font-size: 0.8rem;
	color: #aaa;
	margin: 0;
	width: 100%;
}

/* Links */
.link-container {
	background-color: #000;
}

.link-container h3 a {
	color: #FECC4C;
	text-decoration: none;
}

/* Footer related */

footer {
	height: max-content;
	background-color: #eee;
	padding: 20px;
}


footer table {
	margin: 0 !important;
	width: 100%;
}

footer table * {
	border: 0px;
}

footer td {
	padding: 0px;
}

@media only screen and (max-width: 320px) {
	footer td {
		text-align: center;
	}
}

footer p {
	margin: 0px;
	background-color: transparent;
}

footer button {
	outline: none;
	border: none;
	color: var(--color-six);
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: transparent; 
	background-color: transparent;
	padding: 0px;
	margin: 0px;
} 

footer .brand-name {
	font-family: Arial, sans-serif;
}

footer #contact-td {
	text-align: right;
}