{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>{{ idea.name }} - The Impossible</title>
{% endblock %}

{% block content %}
	<!-- Explore page css -->
	<link rel="stylesheet" type="text/css" href="{% static 'explore_page/main.css' %}">

	<!-- Detail page css -->
	<link rel="stylesheet" type="text/css" href="{% static 'detail_page/main.css' %}">

	<!-- Main css -->
	<link rel="stylesheet" type="text/css" href="{% static 'edit_page/main.css' %}">

	<div class="wrapper">
		<form method="post">
	    	{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-purple" type="submit">Make Changes</button>
		</form>

		<!-- Timestamp -->
		<div class="timestamp">
			<p>Created at <span class="time">{{ idea.timestamp }}</span></p>
			<p>Last Edited <span class="time">{{ idea.last_edit }}</span></p>
		</div>
	</div>

	<!-- Js to prevent form resubmission -->
	<!-- https://www.webtrickshome.com/faq/how-to-stop-form-resubmission-on-page-refresh -->
	<script>
		if ( window.history.replaceState ) window.history.replaceState( null, null, window.location.href );
	</script>
{% endblock %}