{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>{{ idea.name }} - The Impossible</title>
{% endblock %}

{% block content %}
	<!-- Explore page css -->
	<link rel="stylesheet" type="text/css" href="{% static 'explore_page/main.css' %}">

	<!-- Detail page css -->
	<link rel="stylesheet" type="text/css" href="{% static 'detail_page/main.css' %}">

	<!-- Main css -->
	<link rel="stylesheet" type="text/css" href="{% static 'edit_page/main.css' %}">

	<div class="wrapper">
		<form method="post">
	    	{% csrf_token %}
	    	<table>
	    		<tr>
	    			<td class="idea-content">
						<p>{{ form.name }}</p>
						<p>{{ form.short_description }}</p>
						<p>{{ form.full_description }}</p>
					</td>
					<td class="idea-setting">
						<h1><b>Settings</b></h1>
						<br>
						<table class="tags">
							<tr>
								<td class="select-tags">
									<!-- Tags -->
									<h5><b>{{ form.tags.label }}:</b></h5>
									<p>{{ form.tags }}</p>
								</td>
								<td>
									<table>
										<tr>
											<th>
												<h5><b>Exsisting Tags:</b></h5>
											</th>
										</tr>
										{% for tag in idea.tags.all %}
											<tr class="exsisting-tag-tr">
												<td class="exsisting-tag-td">
													<p>{{ tag }}</p>
												</td>
												<td class="exsisting-tag-td">
													<button class="btn delete-tag" onclick="window.location.href='{% url 'remove_tag_view' pk=idea.id tag_name=tag.name %}'; return false;">✖</button>
												</td>
											</tr>
										{% endfor %}
									</table>
								</td>
							</tr>
						</table>
						<!-- Publish stats -->
						<h5><b>{{ form.publish_stats.label }}:</b></h5>
						<p>{{ form.publish_stats }}</p>
						<button class="btn btn-purple" type="submit" name="save-changes">Save Changes</button>
					</td>
				</tr>
			</table>
		</form>

		<!-- Timestamp -->
		<div class="timestamp">
			<p>Created at <span class="time">{{ idea.timestamp }}</span></p>
			<p>Last Edited <span class="time">{{ idea.last_edit }}</span></p>
		</div>
	</div>

	<!-- Js to prevent form resubmission -->
	<!-- https://www.webtrickshome.com/faq/how-to-stop-form-resubmission-on-page-refresh -->
	<script>
		if ( window.history.replaceState ) window.history.replaceState( null, null, window.location.href );
	</script>
{% endblock %}