{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %}
	<title>Explore - The Impossible</title>
	<!-- Change favicon if there are unread notifications -->
	{% if user.is_authenticated and new_notification %}
		<link rel="icon" href="{% static 'component/base/favicon_notification.png' %}">
    {% endif %}
{% endblock %}

{% block before %}
	<!-- Lato Font -->
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<h1 class="before-header"><b>FRESHIDEAS</b></h1>
{% endblock %}

{% block nav_custom %}
	<li class="nav-item">
		<a class="nav-link" href="{% url 'idea_create_view' %}">Add Idea</a>
	</li>
	{% if user.is_authenticated %}
  		<li class="nav-item">
    		<a class="nav-link" href="{% url 'account_dashboard_page' username=user.username content_filter='my' page_num=1 %}"><!-- Add red dot if there are any unread notifications -->
    			{% if user.is_authenticated and new_notification %}<span class="new-notification-dot"></span>{% endif %}Dashboard</a>
  		</li>
  	{% endif %}
{% endblock %}

{% block content %}

	<!-- Show join newsletter if not registered -->
	{% if not user.is_authenticated %}
		{% include 'newsletter/join.html' %}
	{% endif %}

	<div class="wrapper">
		<!-- Main css -->
		<link rel="stylesheet" type="text/css" href="{% static 'idea/explore_page/main.css' %}">
		
		<!-- Explore -->
		<div class="explore-header">
			<h2>Weekly Ideas</h2>

			<!-- Display time period -->
			<h5 class="explore-date">{{ from_date }} <i>to</i> {{ to_date }}</h5>

			<!-- Change Week -->
			{% if previous_week_num %}
				<button class="btn btn-week btn-black" onclick="window.location.href='{% url 'idea_explore_page' week_num=previous_week_num page_num=1 %}'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></button>
			{% endif %}
			{% if next_week_num >= 0 %}
				<button class="btn btn-week btn-black" onclick="window.location.href='{% url 'idea_explore_page' week_num=next_week_num page_num=1 %}'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></button>
			{% endif %}
		</div>

		<!-- Display ideas in masonary grid -->
		{% include 'idea/masonary.html' %}		

		<!-- Pagination -->
		{% include 'idea/pagination.html' %}
	</div>
	<hr class="section-seperator">

	<!-- Announcement -->
	<div class="wrapper announcement-wrapper">
		<div>
			<h3>The Impossible's<br>Message</h3>
			<!-- Change message content below -->
			<p>Browse, create and share ideas. We are here to boost your creativity during COVID-19. Stay safe and be inspired!<br>If you have any questions, feel free to contact us.</p>
			<button class="btn">Learn more <img src="{% static 'component/feather_svg/arrow-right.svg' %}"></button>
		</div>
	</div>
	<hr class="section-seperator">

	<!-- Discover -->
	<div class="wrapper discover-wrapper">
		<div class="discover-header">
			<h1>Discover</h1>
			<h6 class="discover-customise"><a href="{% if user.is_authenticated %}{% url 'account_setting_explore_content_page' %}{% else %}{% url 'login_page' %}{% endif %}">Settings <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(255,240,200)" stroke-width=2 stroke-linecap="round" stroke-linejoin="round" class="feather feather-toggle-right"><rect x="1" y="5" width="22" height="14" rx="7" ry="7"></rect><circle cx="16" cy="12" r="3"></circle></svg></a></h6>
		</div>
		<br>
		<div class="horizontal-overflow-wrapper">
			<div class="horizontal-container">
				{% for idea in random_ideas %}
					<div class="discover-card">

						<a href="{% url 'idea_detail_page' pk=idea.pk %}"><div class="img-border"><img class="header-img" src="{{ idea.header_img.file.url }}" alt="{{ idea.header_img.description }}"></div></a>

						<!-- Title -->
						<h5 class="card-title"><a href="{% url 'idea_detail_page' pk=idea.pk %}">{{ idea.name }}</a></h5>

						<!-- Short description -->
						<h6 class="card-subtitle mb-2">{{ idea.short_description|truncatechars:50 }}</h6>

						<!-- Content -->
						<p class="card-text">{{ idea.full_description|truncatechars:80 }}</p>

						<!-- Author -->
						<p class="author">By {{ idea.author }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}