{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'idea/liked_idea/main.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'idea/explore_page/main.css' %}">

<div class="liked-idea-container">
	{% for idea in liked_ideas %}
		<div class="card-mini">
			<!-- Title -->
			<h5 class="card-title"><a href="{% url 'idea_detail_page' pk=idea.pk %}">{{ idea.name }}</a></h5>

			<!-- Short description -->
			<h6 class="card-subtitle mb-2 text-muted">{{ idea.short_description }}</h6>

			<!-- Content -->
			<p class="card-text">{{ idea.full_description|truncatechars:300 }}</p>
		</div>
	{% endfor %}
</div>