{% load static %}

<!-- Like button and view count -->

<link rel="stylesheet" type="text/css" href="{% static 'idea/like.css' %}">

<!-- Like button ajax -->
<script type="text/javascript" src="{% static 'idea/ajax.js' %}"></script>
		
<p class="card-button-wrapper" id="card-like-{{ idea.pk }}">
	<button class="bookmark-button" onclick="{% if user.is_authenticated %}star_idea_ajax('{{ idea.pk }}','{{ user.username }}','{{ encrypted_string }}'); {% else %} window.location.href='{% url 'login_page' %}' {% endif %}">
		<svg id="star-svg-{{idea.pk}}" name="{% if profile in idea.starred_user.all %}starred{% endif %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(240,165,0)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
	</button>
	<span class="text-seperator"></span>
	<button class="like-button" onclick="{% if user.is_authenticated %}like_idea_ajax('{{ idea.pk }}','{{ user.username }}','{{ encrypted_string }}'); {% else %} window.location.href='{% url 'login_page' %}' {% endif %}">
		<svg id="like-svg-{{idea.pk}}" name="{% if profile in idea.liked_user.all %}liked{% endif %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(252,52,104)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
	</button>
</p>